@charset "utf-8";
@font-face {
    font-family: Zenkurenaido;
    font-display: swap;
    src: url("../ZenKurenaido.ttf") format("TrueType");
}

html,body{
    margin: 0;
    font-family: "Zenkurenaido";
}

body div{
    font-size: 16px;
    display: block;
    width: 350px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 5em);
    margin-bottom: calc(50vh - 5em);
    background-color: #f0f0f0;
}


h1{
    text-align: center;
    margin: 0.25em;
}

input{
    background-color: #f0f0f0;
    text-align: center;
    border: none;
    border-bottom: 1px solid #b8b8b8;
    height: 2em;
    width: 296px;
    margin-top: 0.5em;
    margin-left: 25px;
    margin-right: 25px;
    transition:ease-out 0.1s;
}
input:focus{
    outline: none;
    height: 2.5em;
    width: 326px;
    margin-left: 12px;
    margin-right: 12px;
}
form p{
    margin: 0;
    margin-left: 25px;
}
form p a{
    text-decoration: none;
}
button{
    background-color: #29b93c;
    color: #FFF;
    text-align: center;
    border: none;
    height: 2em;
    width: 6em;
    margin: 0.7em 25px 0.25em 25px;
    padding: 2px 5px;
    transition:ease-out 0.1s;
    box-shadow: 3px 3px #b8b8b8;
}