html body{
    margin: 0;
}

header{
    height: 50px;
    border-bottom: solid 1px #ddd;
    display: flex;
}

.logo{
    height: 50px;
    width: 150px;
}

form{
  margin: 8px 0.6rem 8px auto;
  box-sizing: border-box;
  position: relative;
  background-color: #f0f0f0;
  border-bottom: 1px solid #b8b8b8;
  display: none;
  padding: 3px 10px;
  height: 34px;
  overflow: hidden;
}
form input[type="text"]{
  background-color: #f0f0f0;
  border: none;
  height: 2em;
  width: 250px;
}
form input[type="text"]:focus {
  outline: 0;
}
form input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.2em;
  border: none;
  background: none;
  color: #29b93c;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}
#search_face_button{
  margin-top: 8px;
  margin-right: 0.6rem;
  margin-left: auto;
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.2em;
  border: none;
  color: #29b93c;
  height: 34px;
}


.button_login:hover{
    color: #29b93c;
}

.button_login{
    font-size: 0.9em;
    margin-right: 0.3rem;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.button_new{
    margin: 8px 0.3rem;
    padding: 5px 10px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #29b93c;
    border-radius: 0.3em;
}